body{
    background-color: #181f27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.area_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 355px;
    height: 320px;
    padding: 35px;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input{
    margin-top: 10px;
    background-color: #4e4e43;
    border: none;
    height: 45px;
    outline: none;
    color: #C8D0F7;
    padding-left: 10px;
    border-radius: 5px;

}

input::placeholder{
    color: #C8D0F7;
    font-size: 14px;
}

.text_login{
    padding-top: 10px;
    color:#C8D0F7 ;
    font-size: small;
}

.text_senha{
    padding-top: 10px;
    color:#C8D0F7 ;
    font-size: small;
}

.sem_conta{
    color:#C8D0F7;
    font-size: smaller;
}

#cursor{
    cursor: pointer;
}

form [type="submit"]{
    background-color: darkcyan;
    text-transform: uppercase;
    box-shadow: skyblue;
}